/* styles.css */

body {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    font-size: 20px;

    background-color: #121212;
    color: #fff;
  }

  main, footer {
    max-width: 1200px;
    margin-left: 35rem;
    margin-right: 10rem;
    padding: 2rem;
  }
  

  header {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
  
  .card {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 2rem 2rem;
    border-radius: 20px;
    border: 1px solid #bbb;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .tag {
    font-weight: bold;
    color: #00e7ff;
  }
  
  .card .role {
    font-size: 16px;
    color: #bbb;
    text-align: end;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  
  .profile-pic {
    border-radius: 10%;
    width: 25rem;
    margin: 20px 0;
  }

  .contact-info {
    line-height: .5;
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1rem;
    color: #bbb;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
  }

  .social-icon svg{
    font-size: 1.5rem;
    fill: #bbb;
  }

  .social-icon svg:hover {
    fill: #00e7ff;
  }

  .social-icon {
    margin: 0 10px;
  }
  
  .hire-me {
    background-color: #00e7ff;
    border: 1.5px solid #00e7ff;
    padding: .8rem 8rem;
    font-size: 1em;
    color: #000;
    cursor: pointer;
    border-radius: 1.25rem;
  }
  
  .hire-me:hover {
    background-color: #000;
    color: #fff;
  }
  
  .intro h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .highlight {
    color: #00e7ff;
  }
  
  .intro p {
    font-size: 18px;
    color: #bbb;
  }
  
  .stats {
    display: flex;
    margin-top: 20px;
  }
  
  .stat {
    margin-right: 50px;
  }
  
  .stat h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .stat p {
    font-size: 14px;
    color: #bbb;
  }
  
  .side-menu {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu li {
    margin: 10px 0;
  }
  
  .side-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
  }
  
  .side-menu a:hover {
    color: #00e7ff;
  }